footer {
  background-color: rgb(7,30,56);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

footer > div {
  margin-bottom: 20px;
}

footer a {
  color: white;
  font-size: 30px;
}

footer p {
  margin: 0;
}

i.fas.fa-heart {
  color: darkred;
}
